.container {
  background-color: #00796B;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#txt, #cursor {
  color: white;
  font-size: 40px;
  font-family: "Lucida Console", "Courier New", Monospace;
}

#cursor {
  color: whilte:
}

.border {
  border: 2px black solid;
}

.txt-wrapper {
  position: absolute;
  margin-top: 45vh;
  width: 100%;
}